.s-title {
    line-height: 1.4;
    margin-bottom:10px;
    border-bottom: 3px solid;
    display: table;
}

.s-body {
    padding-top: 30px;
    line-height: 1.5;
    font-weight: 300;
    font-size: 1.5rem;
}
.s-header {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.5;
}
.s-description {
  padding-top: 30px;
  line-height: 1.5;
  font-size: 1.4rem;
  font-weight: 300;
}
