.t-y-middle {
    display: flex;
    align-items: center;
    height: 100%;
}
.t-x-middle {
    display: flex;
    justify-content: center;
    height: 100%;
}
.t-center {
    display: flex;
    justify-content: center;
    align-items:center;
}
.t-flex-row {
    display: flex;
    flex-direction: row;
}

.t-flex-column {
    display: flex;
    flex-direction: column;
}